<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<!--<suite name="Test Suite for Scenario1">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.scenario1.ContactFormTest"/>
    </classes>
  </test>
</suite>-->

<suite name="Test Suite for Scenario2">
    <test name="Flipkart Search Test">
        <classes>
            <class name="com.scenario2.FlipkartSearchTest"/>
        </classes>
    </test>
</suite>
